<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="main-nav" role="navigation">

  <div class="navbar-header mr-3">
    <a class="navbar-brand" href="/">Kotka</a>
  </div>

  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li dropdown class="nav-item mr-3 dropdown" routerLinkActive="active">
        <a class="nav-link" dropdownToggle id="specimen-menu">Specimens <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="specimen-menu">
          <li><a class="dropdown-item" href="/specimens/search">Search specimens</a></li>
          <li><a class="dropdown-item" href="/specimens/search-sample">Search preparations/samples</a></li>
          <li><a class="dropdown-item" href="/specimens/search-branch">Search branches</a></li>
          <li><a class="dropdown-item" href="/culture">Search cultures</a></li>
          <li role="presentation" class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/botany/specimens/add"><i class="fa fa-plus"></i> Add botanical</a></li>
          <li><a class="dropdown-item" href="/zoo/specimens/add"><i class="fa fa-plus"></i> Add zoological</a></li>
          <li><a class="dropdown-item" href="/palaeontology/specimens/add"><i class="fa fa-plus"></i> Add palaeontological</a></li>
          <li><a class="dropdown-item" href="/accession/specimens/add"><i class="fa fa-plus"></i> Add accession</a></li>
          <li><a class="dropdown-item" href="/culture/specimens/add"><i class="fa fa-plus"></i> Add culture</a></li>
          <li role="presentation" class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/specimens/images">Add multiple images</a></li>
          <li><a class="dropdown-item" href="/specimens/images/edit">Edit images</a></li>
        </ul>
      </li>

      <li dropdown class="nav-item mr-3 dropdown" routerLinkActive="active">
        <a class="nav-link" dropdownToggle id="collections-menu">Collections <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu" *dropdownMenu>
          <li><a class="dropdown-item" href="/collections">All</a></li>
          <li><a class="dropdown-item" href="/view?uri=http://tun.fi/HR.128">Luomus collections</a></li>
          <li><a class="dropdown-item" href="/view?uri=http://tun.fi/HR.1127">Kuopio collections</a></li>
          <li><a class="dropdown-item" href="/view?uri=http://tun.fi/HR.121">Kieppi collections</a></li>
          <li><a class="dropdown-item" href="/view?uri=http://tun.fi/HR.1207">Oulu collections</a></li>
          <li><a class="dropdown-item" href="/view?uri=http://tun.fi/HR.1627">Turku collections</a></li>
          <li><a class="dropdown-item" href="/view?uri=http://tun.fi/HR.1247">Jyväskylä collections</a></li>
          <li><a class="dropdown-item" href="/collections/add"><i class="fa fa-plus"></i> Add collection</a></li>
        </ul>
      </li>

      <li dropdown class="nav-item mr-3 dropdown" routerLinkActive="active">
        <a class="nav-link" dropdownToggle id="datasets-menu">Datasets <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="datasets-menu">
          <li><a class="dropdown-item" href="/datasets">All</a></li>
          <li><a class="dropdown-item" href="/datasets/add"><i class="fa fa-plus"></i> Add dataset</a></li>
        </ul>
      </li>

      <li dropdown class="nav-item mr-3 dropdown" routerLinkActive="active">
        <a class="nav-link" dropdownToggle id="organizations-menu">Organizations <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="organizations-menu">
          <li><a class="dropdown-item" href="/organizations">All</a></li>
          <li><a class="dropdown-item" href="/organizations/add"><i class="fa fa-plus"></i> Add organization</a></li>
        </ul>
      </li>

      <li dropdown class="nav-item mr-3 dropdown" routerLinkActive="active">
        <a class="nav-link" dropdownToggle id="transactions-link">Transactions <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="transactions-link">
          <li><a class="dropdown-item" routerLink="/transactions">All</a></li>
          <li><a class="dropdown-item" routerLink="/transactions/add"><i class="fa fa-plus"></i> Add transaction</a></li>
        </ul>
      </li>

      <li dropdown class="nav-item mr-3 dropdown" routerLinkActive="active">
        <a class="nav-link" dropdownToggle id="tools-link">Tools <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="tools-link">
          <li><a class="dropdown-item" href="/tools/autofill-excel">Generate IDs to Excel</a></li>
          <li><a class="dropdown-item" href="/tools/import">Import</a></li>
          <li><a class="dropdown-item" href="/tools/save">Last saved Excel</a></li>
          <li><a class="dropdown-item" href="/tools/export">Last exported Excel</a></li>
          <li><a class="dropdown-item" href="/excel">Excel generator</a></li>
          <li><a class="dropdown-item" href="/tools/generic-label">Generic Labels</a></li>
          <li><a class="dropdown-item" href="/qr">QR reader</a></li>
          <li role="presentation" class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="http://ws.luomus.fi/util/coordinate-mass-conversion" target="_blank">Coordinate mass converter</a></li>
          <li><a class="dropdown-item" href="https://pass.luomus.fi/" target="_blank">Change LUOMUS password</a></li>
        </ul>
      </li>

      <li dropdown class="nav-item mr-3 dropdown" routerLinkActive="active">
        <a class="nav-link" dropdownToggle id="help-menu">Help <i class="fa fa-caret-down"></i></a>
        <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="help-menu">
          <li><a class="dropdown-item" href="https://wiki.helsinki.fi/display/digit/Manual+for+Kotka" target="new" title="Manual"><i class="fa fa-book"></i> Manual</a></li>
          <li><a class="dropdown-item" href="/documentation/field" target="new" title="Description of fields used by Kotka"><i class="fa fa-book"></i> Data fields</a></li>
          <li role="presentation" class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/documentation/distinct-values" title="Statistics of saved data"><span class="fa fa-bar-charts"></span> Field value stats</a></li>
          <li><a class="dropdown-item" href="/tools/simplestats"><i class="fa fa-bar-charts"></i> Quantity stats</a></li>
          <li><a class="dropdown-item" href="/reports/annual"><i class="fa fa-bar-charts"></i> Annual reports</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav" routerLinkActive="active">
      <li dropdown class="nav-item dropdown" placement="bottom right">
        <a class="nav-link" dropdownToggle id="user-menu"><i class="fa fa-user"></i>&nbsp;vixriihi (admin) </a>
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
          <li><a class="dropdown-item" href="/user/logout"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="navbar navbar-expand-lg">
  <div class="navbar-header mb-3">
    <span class="navbar-brand">&nbsp;</span>
  </div>
</div>
