$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;


$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$body-bg:                   $white;
$body-color:                $gray-900;

$spacer:                    .8rem;
$font-size-base:            .8rem;
$nav-link-padding-y:        .4rem;
$navbar-nav-link-padding-x: .4rem;
$navbar-padding-y:           $spacer / 4;

$h1-font-size:               $font-size-base * 2;
$h2-font-size:               $font-size-base * 1.75;
$h3-font-size:               $font-size-base * 1.5;
$h4-font-size:               $font-size-base * 1.25;
$h5-font-size:               $font-size-base;
$h6-font-size:               $font-size-base;

$form-group-margin-bottom:   0.7rem;

$input-btn-padding-y:         .25rem;
$input-btn-padding-x:         .5rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px
);

$dropdown-link-active-color: $body-color;
$dropdown-link-active-bg: $gray-400;

$input-btn-padding-y-sm:      .1rem;
$input-btn-padding-x-sm:      .25rem;
